/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.navsect{
    height: 8vh;
    width: 100%;
    background-color: transparent;

    
}
.logo{
    width: 50px;
    height: 8vh;
    top: 0;
    left: 0;
}
.logo img{
    margin-top: 1vh;
    height: 6vh;
    margin-left: 1vw;
}
#mainbar{
    display: none;
    position: absolute;
}
#mainbar ul li{
    width: 100vw;
    border-bottom:solid black thin;
    height: 30px;
    text-align: left;
    list-style: none;
    background-color: white;
    
}
#mainbar ul li a{
    text-decoration: none;
   color: black;

}
#mainbar ul li a:hover{
    color: red;
}
#cart_click{
    display: none;
    z-index: 1;
}
.cart{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
    margin-top: 3vh;
}

.container{
    margin: auto;
    width: 80%;
}
.badge{
    background-color: #6394f8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.shopping-cart{
    margin:0 0;
    float: right;
    background: white;
    width: 70vw;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    display: none;
    overflow: scroll;
    height: 50vh;
    
}
.shopping-cart .shopping-cart-header{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total{
    float: right;
}
.shopping-cart .shopping-cart-items{
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li{
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img{
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name{
    display: block;
    padding-top: 10px;
    font-size: 16px;
    text-transform: capitalize;
}
.shopping-cart .shopping-cart-items .item-price{
    color: #6394f8;
    margin-right: 8px;
    
}
.shopping-cart .shopping-cart-items .item-quantity{
    color: #abb0be;
}

.shopping-cart:after{
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}
.shopping-cart ul li{
    list-style: none;
}
.pdimg{
    height: 15vh;
    width: 30vw;
}
.cart-icon{
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
.button{
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}
.button:hover{
    background: #729ef9;
    
}
.clearfix:after{
    content: " ";
    display: table;
    clear: both;
}
#hambur{
    position: absolute;
    top: 0;
    right: 0;
    height: 6vh;
    margin-top: 2vh;
    margin-right: 10px;
}

#landing{
    height: 92vh;
    margin-top: 0vh;
    background-image: url("../img/mae-mu-IZ0LRt1khgM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border:solid white thin;
    
        
}
#landing h1{
    margin-top: 18vh;
    text-align: left;
    font-size: 4vh;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    margin-left: 4vw;
    
    
    
}
#landing p{
    color: black;
    font-size: 7vh;
    line-height: 1.2em;
    font-weight: 600;
    margin-top: 3vh;
    margin-left: 3vw;
    
}
#landing .btn{
    padding:2vh 6vh;
    margin-left:20px;
    position:absolute;
    margin-top: 15vh;
    background-color:white;
    border-radius: 60px;
    text-decoration: none;
    color: black;
    
    
}
#landing .btn:hover{
    background-color: black;
    color: white;
}
.menu h1{
    padding-top: 2vh;
    text-align: center;
    font-weight: 600;
    font-size: 6vh;
    text-transform: capitalize;
}

.row {
    width: 100%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
  }
  
  .product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin:2em 2em ;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: unset;
    flex: auto;
  }
  .product--blue {
    background: linear-gradient(-45deg,wheat 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  
  .product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  .product_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  .product_inner p {
    color: black;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: .5em;
  }
  .product_inner button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFF;
    border-radius: 3px;
    padding: 1em 3em;
    margin: 1em 0 0 0;
    background: none;
    cursor: pointer;
    -webkit-transition: background ease-in .25s;
    transition: background ease-in .25s;
  }
  .product_inner button:hover {
    background: white;
    color: #2B2D42;
  }
  .product_inner button:before {
    font-family: FontAwesome;
    content: '\f07A';
    color: #FFF;
    position: absolute;
    font-size: 1.5em;
    margin: 0 -1.5em;
  }
  .product_inner button:hover:before {
    color: #2B2D42;
  }
  .product_overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .product_overlay h2 {
    color: rgba(43, 45, 66, 0.7);
    font-size: 1.2em;
    margin: 1em 0;
  }
  .product_overlay i {
    color: rgba(43, 45, 66, 0.7);
    font-size: 1.5em;
  }
  .viewall{
      text-align: center;
  }
  .viewall a{
      text-decoration: none;
      color: black;
      font-size: 2.5vh;
  }
  .viewall a:hover{
      color: red;
  }
  .logitle{
      text-align: center;
      padding-top: 4vh;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .loginpage{
      background-color: #f7f7f7;
      height: 92vh;
  }
  form{
      padding-top: 4vh;
  }
.logi{
    display:block;
    font-size: 3vh;
    margin-top: 0.5vh;
    margin-left: 4vw;
}
.logi input{
    display: block;
    width: 90%;
    height: 5vh;
    border: green solid thin;
    border-radius: 4px;
    padding-left: 8px;
}
.loginbut{
    margin-left: 12vw;
    width: 75vw;
    margin-top: 2vh;
    height:5vh;
    border: none;
    border-radius: 6px;
    background-color: palevioletred;
    margin-bottom: 2vh;
    color: white;

}
.loginbut:hover{
    background-color: #6394f8;
}
.error{
    margin-top: 1vh;
    font-size: 12px;
    margin-left: 3vw;
    color: red;
}
h2{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 15px;
}
h2 span{
    padding: 0 10px;
    background-color:#f7f7f7;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.accounta li{
    margin-bottom: 1vh;
}
.accounta li a{
    text-decoration: none;
    padding-left: 8px;
    color: black;
    text-transform: capitalize;
}
.accounta li a:hover{
    color: red;
}
.social{
    height: 25vh;
}
.total{
    margin-left: 70%;
}
.socialcol{
    height: 10vh;
    margin-top: 8vh;
}
h5{
    text-align: center;
    margin-top: 6vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.socialicons{
    margin-left: 5%;
    text-decoration: none;
    border: solid;
    border-radius: 6px;
    padding: 4px;
}
.progress{
    padding-top: 2vh;
    padding-left: 14%;
    height: 15vh;
    width: 90vw;
    margin-left: 2vw;
    margin-right: 2vw;

}
.progressbar{
    counter-reset: step;
}
.progressbar li{
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before{
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after{
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;

}
.progressbar li:first-child:after{
    content: none;
}
.progressbar li.activeprog{
    color: green;
}
.progressbar li.activeprog:before{
    border-color: #55b776;
}

.review{
    
    width: 100vw;
}
.wrap ol,.wrap ul{
    list-style: none;

}
.wrap{color: #333;}
.cartSection img{
    max-width: 100%;
}
.cf:before,.cf:after{
    content: "";
    display: table;
}
.cf:after{
    clear: both;
}
.cf{
    *zoom: 1;
}
.wrap{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% auto;
    margin-bottom: 5em;
}
.heading{
    padding: 1em 0;
    border-bottom: 1px solid #d0d0d0;
    margin-right: 2vw;
    margin-left: 2vw;
    
}
.heading h1{
    font-family: sans-serif;
    font-size: 1em;
    float: left;
    margin-top: 2vh;


}
.heading a.continue:link, .heading a.continue:visited{
    text-decoration: none;
    font-family: sans-serif;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition:all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.heading a.continue:after{
    content: "\276f";
    position: relative;
    right: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition:all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.heading a.continue:hover,.heading a.continue:focus,.heading .continue:active{
    background: #f69679;
}
.heading a.continue:hover:after,.heading a.continue:focus:after,.heading .continue:active:after
{
    right: -10px;
}
.cartrev{
    width: 100vw;
    left:0;

}
.cartrev .items{
    display: block;
    width: 100%;
    
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
}
.cartrev .items .infoWrap{
    display: table;
    width: 100%;
}
.cartrev .items .cartSection{
    display: table-cell;
    vertical-align: middle;

}
.cartrev .items .cartSection .itemNumber{
    font-size: .75em;
    color: #777;
    margin-bottom: .5em;
}
.cartrev .items .cartSection h3{
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.cartrev .items .cartSection p{
    display: inline-block;
    font-size: .85em;
    color: #777777;
}
.cartrev .items .cartSection p .qty{
    font-weight: bold;
    color: #333;
}
.cartrev .items .cartSection p.stockStatus{
    color: #82ca9c;
    font-weight: bold;
    padding: .5em 0 0 1em;
    text-transform: uppercase;
} 
.cartrev .items .cartSection .itemImg{
    width: 4em;
    float: left;
}
.cartrev .items .cartSection .qtyWrap p,.cartrev .items .cartSection.prodTotal p{
    font-weight: bold;
    font-size: 1.25em;
}
.cartrev .items .cartSection input.qty{
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;

} 
.cartrev .items .cartSection .itemImg{
    display: inline;
    padding-right: 1em;
}
a.remove{
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    background: #e0e0e0;;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition:all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;

}
a.remove:hover{
    background: #f30;
}
.promocode{
    border: 2px solid #efefef;
    float: left;
    width: 100%;
    padding: 2%;
}
.promocode label{
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;
    margin-bottom: .5em;
    letter-spacing: -.025em;

}
.promocode input{
    width: 85%;
    font-size: 1.2em;
    padding: .5;
    float: left;
    border: 1px solid #dadada;
}
.promocode input:active,.promocode input:focus{
    outline: zero;
}
.promocode a.btn{
    float: left;
    width: 10%;
    padding: .2em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #82ca9c;
}
.promocode a.btn:hover{
    border: 1px solid #f69676;
    background: #f69676;
}
.btn:link,.btn:visited{
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: -0.15em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #82ca9c;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition:all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.btn:after{
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition:all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.btn:hover ,.btn:focus,.btn:active{
    background: #f69679;
}
.btn:hover:after,.btn:focus:after,.btn:active:after{
    right: -10px;
}
.promocode .btn{
    font-size: .85em;
    padding: .5em 2em;
}
.subtotal{
    float: right;
    width: 100%;
}
.subtotal .totalRow{
    padding: .5em;
    text-align: right;
}
.subtotal .totalRow.final{
    font-size: 1.25em;
    font-weight: bold;
}
.subtotal .totalRow span{
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
}
.subtotal .totalRow .label{
    font-size: .85em;
    text-transform: uppercase;
    color: #777;

}
.subtotal .totalRow .value{
    letter-spacing: -.025em;
    width: 35%;
}
.paysumary{
    margin-top:2vh;

}
.paysumary .paylabel{
    font-size: 1.2em;
    margin-left: .5em;
}
.paysumary .payvalue{
    float: right;
    margin-right: 1em;
}
.shiping{
    height: 38vh;
    border: solid;
}
.payment{
    margin-top: 2vh;
}
/*
shipping form
*/

/*media queeries*/

@media only screen and (min-width:500px){
    .product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
      box-shadow: 1px 5px 15px #CCC;
      width: 15em;
      height: auto;
      border-radius: 3px;
      padding: 1em;
      margin: 1.5em;
      overflow: hidden;
      position: relative;
      -webkit-box-flex: 1;
      flex-grow: unset;
      flex: 1 23%;
      flex-grow: inherit;
    }
    .product_inner button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: #FFF;
        border-radius: 3px;
        padding: 1em 2em;
        margin: 1em 0 0 0;
        background: none;
        cursor: pointer;
        -webkit-transition: background ease-in .25s;
        transition: background ease-in .25s;
      }
  }

@media only screen and (min-width:700px){
    .product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
      box-shadow: 1px 5px 15px #CCC;
      width: 15em;
      height: auto;
      border-radius: 3px;
      padding: 2em;
      margin: 1.5em;
      overflow: hidden;
      position: relative;
      -webkit-box-flex: 1;
      flex-grow: unset;
      flex: 1 24%;
      flex-grow: inherit;
    }
  }
  @media only screen and (min-width:900px){
    .product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
      box-shadow: 1px 5px 15px #CCC;
      width: 15em;
      height: auto;
      border-radius: 3px;
      padding: 2em;
      margin: 1.5em;
      overflow: hidden;
      position: relative;
      -webkit-box-flex: 1;
      flex-grow: unset;
      flex: 1 19%;
      flex-grow: inherit;
    }
  }
  @media only screen and (min-width:1360px){
    .product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
      box-shadow: 1px 5px 15px #CCC;
      width: 15em;
      height: auto;
      border-radius: 3px;
      padding: 2em;
      margin: 1.5em;
      overflow: hidden;
      position: relative;
      -webkit-box-flex: 1;
      flex-grow: unset;
      flex: 1 13%;
      flex-grow: inherit;
    }
  }